# Core FastAPI dependencies
fastapi[standard]
pydantic[email]
httpx
PyJWT
requests

# Google OAuth
google-auth
google-auth-oauthlib
google-auth-httplib2

pymongo
scrubadubdub
# Existing dependencies
langchain
langchain-community
langchain-core
langchain-ollama


# Optional: for environment variables
python-dotenv==1.0.1
beanie
bson
motor
pyPDF2