# Core FastAPI dependencies
fastapi[standard]
pydantic[email]
PyJWT
requests
bson
# Google OAuth
google-auth
google-auth-oauthlib
google-auth-httplib2

pymongo
scrubadubdub
# Existing dependencies
langchain
langchain-community
langchain-core
langchain-ollama

# Optional: for environment variables
python-dotenv
beanie
motor
pyPDF2